<?xml version="1.0"?>

<model>
  <name>matrice_100_D435i_real_apm</name>
  <version>1.0</version>
  <sdf version="1.5">matrice_100_D435i_real_apm.sdf</sdf>

  <author>
    <name>APM conversion</name>
    <email></email>
  </author>

  <description>
    Matrice 100 quadrotor with Intel RealSense D435i depth camera and Livox Mid-360 LiDAR (ArduPilot/APM version).
  </description>
</model>
